<footer class="footer-section">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="widget company-intro-widget">
						<a class="navbar-brand fw-bold ms-5" href="#">
							<img th:src="@{/images/1.jpg}" style="width: 130px; height: 80px;" />
						</a>
						<p class="my-1">
							<strong>BKGlobal Freight Solution Pvt Ltd</strong> is an Emerging Logistics Management company and a
							preferred logistics partner to some of the Big Corporates in different sectors.
						</p>
					</div>
				</div>
				<!-- widget end -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="widget course-links-widget">
						<h5 class="widget-title">Quick Links</h5>
						<ul class="courses-link-list" style=" padding: 0;">
							<li><a th:href="@{/companyoverview}">Company Overview</a></li>
							<li><a th:href="@{/management}">Management</a></li>
							<li><a th:href="@{/vision-mission}">Vision & Mission</a></li>
						</ul>
					</div>
				</div>
				<!-- widget end -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="widget latest-news-widget">
						<h5 class="widget-title">Other Links</h5>
						<ul class="small-post-list" style="padding: 0;">
							<li><a th:href="@{/air}">Air Freight</a></li>
							<li><a th:href="@{/ocean}">Ocean Freight</a></li>
							<li><a th:href="@{/custome}">Custome Clearance</a></li>
							<li><a th:href="@{/pms}">Project Solution Management</a></li>
							<li><a th:href="@{ptm}">Project Transport Management</a></li>
							<li><a th:href="@{/consult}">Consulting & Implementation</a></li>
							<!-- small-post-item end -->
						</ul>
					</div>
				</div>
				<!-- widget end -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="widget newsletter-widget">
						<h5 class="widget-title">Contact Us</h5>
						<div class="footer-newsletter">
							<p style="text-transform: capitalize;">
								BKGLOBAL FREIGHT SOLUTION PVT LTD,
								E-5, 3RD FLOOR, SHARMA COLONY BUDH VIHAR PHASE-2, NEW DELHI-110086
							</p>
							<h5 style="color: wheat;">+91-11-41459274, 9911311390</h5>
							<a href="mailto: cs@bklogistic.in">cs@bklogistic.in</a>
						</div>
					</div>
				</div>
				<!-- widget end -->
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 text-sm-left text-center">
					<span class="copy-right-text">© 2023 All
						Rights Reserved.</span>
					<span class="copy-right-text">Developed By <a>JS Devs</a> </span>
				</div>
				<div class="col-md-6 col-sm-6">
					<ul class="terms-privacy d-flex justify-content-sm-end justify-content-center">
						<li><a href="#">Terms & Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- footer-bottom end -->
</footer>