<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Welcome to Logistices web</title>

	<link rel="stylesheet" href="css/style.css" />
	<link
      href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
      rel="stylesheet"
    />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
	<div class="mainContainer">
		<nav th:insert="~{fragments/navBar:: nav}"></nav>

		<div class="banner">
			<img th:src="@{images/pms.jpg}" alt="" />
			<h3>Management</h3>
		</div>

		<div class="content"  th:if="${content != null}" th:object="${content}">
			<div class="content-text">
				<h3 th:text="*{title}">Management</h3>
				<input type="text" th:value="*{descriptionTxt}" id="content" hidden />
				<div id="editor"></div>
				<!-- <p>
					Logitrust Xpress is being led by its Managing Director Mr Vipul Jain
					who has a rich experience of 25 years in the industry and has worked
					at senior management position in both Indian and Multinational
					companies for many years. We have a team of dedicated and committed
					personnel's, who constantly endeavour to take the company to new
					heights of efficiency and professionalism. Our leadership consists
					of seasoned professionals who are dedicated in helping clients
					achieve their business objectives. The Management team's diverse
					background and expertise offer unique insight for each client
					engagement, resulting in the highest quality of services possible.
					Logitrust Management team comprises of experienced logistics
					operators who have in depth experience in operations, technology,
					and Customs Brokerage. The team has versatile domain expertise in
					International Cargo Movement & Distribution and can use firsthand
					experience to address the Logistics challenges of our customers. The
					team is committed to building and managing a world-class
					organization focused on serving and delivering highest standard of
					Quality and Safety. With more than 15 years of average experience in
					the industry, our Management team has the expertise to deliver value
					to its clients.
				</p> -->
			</div>
			<div class="content-img">
				<img th:src="@{'/images/' + ${content.img}}" alt="" />
			</div>
		</div>
		<div th:insert="~{fragments/infobox:: div}"></div>
		<footer th:insert="~{fragments/footer:: footer}"></footer>
	</div>
	
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

	<script>
		var content = document.getElementById("content");
		var q = new Quill("#editor", {
			theme: 'bubble'
		});
		q.setContents(JSON.parse(content.value));
		q.disable();
	</script>
</body>

</html>